.div-cart-main {
    background-image: url('src/assets/cback.jpg');
    background-size: cover;
    background-position: center;
    min-height:96vh;
}

.div-product{
    border: 1px solid black;
    width: 25%;
    margin: 5px;
}

.cart-product-img{
    height: 50px;
    width: 75px;
}

.total-price{
    background-color: antiquewhite;
}