.div-home-main{
    /* background-color: white; */
}

.div-home-main {
    background-image: url('src/assets/cback.jpg');
    background-size: cover;
    background-position: center;
    min-height:96vh;
}